// Основные цвета
$grey: #d3d3d3;  // цвет иконок

// Основные размеры экранов
$screen-1: 320px;
$screen-2: 512px;
$screen-3: 768px;
$screen-4: 1200px;

// Разрешение ретины
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
