@import "shared/variables.scss";

.Card_size_m .Card-Wrapper {
  position: relative;
}

.Card_size_m .Card-Link {
  display: block;
}

.Card_size_m .Card-Title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 19px;
}

.Card_size_m .Card-Picture {
  width: 172px;
  height: 90px;
  margin-bottom: 10px;
}

.Card_size_m .Card-Description {
  max-height: 1em * 1.43 * 3; // font-size * line-height * count string
  line-height: 1.43;
  overflow: hidden;
}

.Card_size_m .Card-Action,
.Card_size_m .Card-Laik {
  position: absolute;
  bottom: calc(100% + 10px);
}

.Card_size_m .Card-Action {
  right: 35px;
}

.Card_size_m .Card-Laik {
  right: 0;
}
