@import "shared/variables.scss";

.App {
  text-align: center;
  background-color: $grey;
}

.App-Title {
  font-size: 1.5em;
  background-color: $grey;
}

.App-Intro {
  font-size: large;
  background-color: $grey;
}
