@import "shared/variables.scss";

.Card_size_m {
  @media (min-width: $screen-2) {
    grid-column: span 2;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
}

.Card_size_m .Card-Picture {
  @media (min-width: $screen-2) {
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.Card_size_m .Card-Description {
  @media (min-width: $screen-2) {
    width: 290px;
    flex-grow: 1;
  }
}

.Card_size_m .Card-Action,
.Card_size_m .Card-Laik {
  @media (min-width: $screen-2) {
    bottom: 0;
  }
}
