@import "shared/variables.scss";

.Card_size_l {
  @media (min-width: $screen-2) {
    grid-column: span 2;
    display: flex;
    height: 122px;
    overflow: hidden;
  }
}

.Card_size_l .Card-Wrapper {
  position: relative;

  @media (min-width: $screen-2) {
    width: 230px;
  }
}

.Card_size_l .Card-Link {
  display: block;
}

.Card_size_l .Card-Title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 19px;
}

.Card_size_l .Card-Picture {
  width: 232px;
  height: 122px;
  margin-bottom: 10px;

  @media (min-width: $screen-2) {
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.Card_size_l .Card-Description {
  max-height: 1em * 1.43 * 3; // font-size * line-height * count string
  line-height: 1.43;
  overflow: hidden;
}

.Card_size_l .Card-Action,
.Card_size_l .Card-Laik {
  position: absolute;
  right: 0;
}

.Card_size_l .Card-Action {
  bottom: calc(100% + 40px);

  @media (min-width: 360px) {
    bottom: calc(100% + 10px);
    right: 35px;
  }

  @media (min-width: $screen-2) {
    top: 0;
    right: auto;
    bottom: auto;
    left: -40px;
  }
}

.Card_size_l .Card-Laik {
  bottom: calc(100% + 10px);

  @media (min-width: $screen-2) {
    right: auto;
    bottom: 10px;
    left: -40px;
  }
}
