@import "shared/variables.scss";


.Card {
  @media (min-width: $screen-2) {
    grid-column: span 1;
    height: 235px;
    overflow: hidden;
  }

  @media (min-width: $screen-3) {
    position: relative;
    grid-column: span 2;
    flex-direction: column;
    height: 235px;
    margin-bottom: 0;
    overflow: hidden;
  }
}
