@import "shared/variables.scss";

.Header {
  padding: 4.4vw 0;
  margin-bottom: 5vw;
  border-bottom: 1px solid $grey;

  @media (min-width: $screen-2) {
    margin-bottom: 0;
    border: none;
  }
}
