@import "shared/variables.scss";

.Wrapper {
  position: relative;

  @media (min-width: $screen-2) {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
